@model List<e_commerce.Models.CartViewModel>
@{
    ViewBag.Title = "ShowCart";
}

<h2>Your cart</h2>
<div class="container-fluid">
    <div class="row">
        @if (Model == null) {
        <h3>@ViewBag.Message</h3>
        } else { 
          foreach (var cart in Model)
          {
            <div class="col-sm-4">
                <h2>@cart.ProductName</h2> <br />
                <img style="width: 200px; height: 200px;" class="img-fluid" src="@Url.Content("~/Content/img/" + cart.ImgPath)" alt="@cart.ProductName" /> <br />
                <p>@cart.ProductDescription</p> <br />
                <small>Price @cart.ProductPrice</small> <br />
  
                @using (Html.BeginForm("ChangeQuantityInCart", "Cart"))
                {
                    <input type="hidden" name="ProductId" value="@cart.ProductId" />
                    <p>Quantity</p>
                    <input type="number" name="Quantity" value="@cart.Quantity" /> <br />
                    <input type="submit" name="Add" value="Change quantity" />
                }
                @using (Html.BeginForm("DeleteCart", "Cart"))
                {
                    <input type="hidden" name="ProductId" value="@cart.ProductId" />
                    <input type="submit" name="Delete" value="Delete product" />
                }
               
            </div>
            }
            
            <div>
                @using (Html.BeginForm("Index", "Checkout"))
                {
                    <input type="hidden" name="CookieId" value="@Model.SingleOrDefault().CartId" />
                    <input type="submit" name="Order" value="Order" />
                }
            </div>
            
        }

    </div>
</div>

