@model List<e_commerce.Models.CheckoutViewModel>
@{
    ViewBag.Title = "ConfirmOrder";
}
 
<div class="container-fluid">
    <h1>Thanks for your order!</h1>
    <div style="border: 1px solid black; padding-left: 15px;">
        <h3>Your order</h3>
        <h6>Ordernumber @Model.First().OrderId</h6>
        @if (Model.First().Orderstatus == (int)e_commerce.Util.Orderstatus.UnderProgress)
        {
            <em style="color: green;">Your order are under progress. </em>
            <br />
        }
        else if (Model.First().Orderstatus == (int)e_commerce.Util.Orderstatus.Succes)
        {
            <p>Your order have been delivered.</p>
        }
        else
        {
            <p>Your order have been cancelled. </p>
        }
        <br />
        <small>Order date @Model.First().OrderDate.ToShortDateString()</small>
        <br />
        
            <table style="margin-top: 15px;" class="table table-striped">
                @foreach (var order in Model)
                {
                    <tr>
                        <td>
                            <p>@order.ProductName</p>
                        </td>
                        <td>
                            <p>Quantity: @order.Quantity </p>
                        </td>
                        <td>
                            <strong>Price: @(order.Quantity * order.Price) £</strong>
                        </td>
                    </tr>
                }
            </table>
        
        <div>
            <h3>Total price: @Model.Sum(p => p.ProductPrice * p.Quantity) £</h3>
        </div>
    </div>
        <h2 style="margin-top: 40px;">Your details</h2>

        <table class="table table-bordered">
            <tr>
                <td>First name: @Model.First().Firstname</td>
            </tr>
            <tr>
                <td>Last name: @Model.First().Lastname</td>
            </tr>
            <tr>
                <td>Email: @Model.First().Email</td>
            </tr>
            <tr>
                <td>Phone: @Model.First().Phone</td>
            </tr> 
            <tr>
                <td>Street: @Model.First().Street</td>
            </tr>  
            <tr>
                <td>Postal code: @Model.First().PostalCode</td>
            </tr>  
            <tr>
                <td>City: @Model.First().City</td>
            </tr>  
                
        </table> 
</div>
