@model e_commerce.Models.ProductsViewModel
@{
    ViewBag.Title = "AddProduct";
}

<h2>Add new product</h2>
<div class="container-fluid">
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.ProductName) 
        @Html.EditorFor(model => model.ProductName)<br>
        @Html.LabelFor(model => model.ProductDescription)
        @Html.EditorFor(model => model.ProductDescription)<br>
        @Html.LabelFor(model => model.ProductPrice)
        @Html.EditorFor(model => model.ProductPrice)<br>
        @Html.LabelFor(model => model.ImgPath)
        @Html.EditorFor(model => model.ImgPath)<br>

        <input type="submit" value="Add product" />
    }
</div>

